*{
  margin:0;
  box-sizing:border-box;
  font-family:calibri;
}
body,.mainBody{
  background-color:#212529;
}
/*header*/
.header{
  display:flex;
  justify-content:center;
  padding:3px;
  border:0.5px solid grey;
}
.header>input::placeholder{
  color:white;
}
.header>input{
  background-color:#666362;
  width:40%;
}
.form-control{
  border:none;
  border-radius:0;
}
.header>button{
  position:relative;
  right:-7.5%;
}
.iconSearch{
  padding:6px;
  background-color:#454545;
}

/*sidebar*/
#show{
  position:absolute;
  top:6.8%;
  left:0;
}
.showSidebar{
  transform:translateX(0%);
  transition:all 0.4s;
}
.sidebar{
  position:absolute;
  top:6.7%;
  height:100vh;
  width:220px;
  border:0.5px  solid grey;
  border-top:0px;
}
.hideSidebar{
  transform:translateX(-100%);
  transition:all 0.4s;
}

.sidebar>ul>li{
  padding:2px;
}
.sidebar>ul>li>a{
  text-decoration:none;
}
.sidebar>ul>li>a:hover{
  color:#ddd;
}
.active{
  color:#ddd;
  
}

/*recommended rooms & creators of sidebar*/
.rooms>p{
  color:white;
  font-weight:bold;
}
.rooms>li{
  color:white;
}
/*"see more" styles of sidebar*/
.text-light{
  text-decoration:none;
}
.text-light:hover{
    text-decoration:none;
}

/*main content styling */
.mainBadge{
  position:absolute;
  top:5%;
  left:18%;
}
.logoBadge{
  position:absolute;
  left:50%;
}
.menuDots{
   position:absolute;
   left:87%;
}
.headings{
  position:relative;
  left:5.7%;
}
.views{
  position:absolute;
  top:12%;
  left:18%;
  background-color:rgba(0,0,0,0.8);
}
.seeMore,.seeMore:hover{
  text-decoration:none;
}
